@media only screen and (min-width: 64rem) {
   .container {
       width: 90%; /* Adjust the width as needed */
   }
   h2 {
      justify-content: center;
   }

   /* Three-column grid for team members */
   .team-members {
       display: grid;
       grid-template-columns: repeat(3, 1fr); /* Three equal columns */
       gap: 20px; /* Gap between grid items */
   }

   /* Adjustments for the table on larger screens */
   #team-table {
       width: 100%;
       margin-top: 20px;
   }

   #team-table th,
   #team-table td {
       padding: 15px; /* Adjust table cell padding */
   }
   
.article-list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 20px;
   margin: 0;
 }
 
   .about h2,h3 {
       margin: 20px auto;
       display: flex;
       justify-content: left;
       padding: 20px 0;
     }
   }
 